:root {
  --color-light: #ddd;
  --color-dark: black;
  --color-text: var(--color-light);
  --color-text-dark: var(--color-dark);
  --color-background: var(--color-dark);
  --color-highlight: red;

  color: var(--color-text);
  background-color: var(--color-background);
}

button {
    color:  var(--color-text-dark);

    margin: 6px;
    padding: 4px;
}

button.link-style {
    color:  var(--color-text);
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

h1 {
    text-align: center;
}

.hidden {
  display: none;
}
