:root {
  --color-text: #ddd;
  --color-background: black;
  --color-highlight: red;

  color: var(--color-text);
  background-color: var(--color-background);
}

button {
    color:  var(--color-text);
    margin: 6px;
    padding: 4px;
}

button.link-style {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

h1 {
    text-align: center;
}

.hidden {
  display: none;
}
