h1 {
    text-align: center;
}

aside ul#word-list {
    float: left;
    list-style: none;
    padding-left: 0;
    li {
        padding: 5px;
    }
}

button.link-style {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.tag-words {
    display: flex;
}