# costly state verification

## Definition
Monitoring a firm's activities, an expensive process in both time and money.

## Notes

## Tags

